@model JiuFu.ViewModels.UserAdd

@{
    ViewData["Title"] = "PersonnelCreate";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<h1>人员添加</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PersonnelCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>           
            <div class="form-group">
                <label asp-for="Name" class="control-label">用户名</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label">性别</label>
                <label class="control-label">
                    <select name="Sex" class="form-control" onchange="selectOnchang(this)">
                        <option value="ture">男</option>
                        <option value="false">女</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label">生日</label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNumber" class="control-label">手机号</label>
                <input asp-for="MobileNumber" class="form-control" />
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="floor" class="control-label">楼层</label>
                <input asp-for="floor" class="form-control" />
                <span asp-validation-for="floor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">登录名</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">邮箱</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">密码</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordComfirm" class="control-label">确认密码</label>
                <input asp-for="PasswordComfirm" class="form-control" />
                <span asp-validation-for="PasswordComfirm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">身份</label>
                <select name="ApplicationRoleType" class="form-control" onchange="selectOnchang(this)">
                    <option value="适用于送物服务员">送物服务员</option>
                    <option value="适用于送餐服务员">送餐服务员</option>
                    <option value="适用于厨师">厨师</option>
                    <option value="适用于清洁服务员">清洁服务员</option>
                    <option value="适用于系统管理人员">管理</option>
                </select>
            </div>
            <div class="form-group">
                <span class="btn green fileinput-button">
                    <i class="fa fa-plus fa fa-white"></i>
                    <span>图片</span>
                    <input type="file" name="picture" multiple>
                </span>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="添加" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回</a>
</div>

