
html {
    height: 120%;
    width: 100%;
    overflow:hidden;
}  
body {
    margin: 0;
    height: 100%;
    overflow:hidden;
    background-color: #E3FDFD;
}  
#div-header{
    
    background: #eee;
    padding-top: 5px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
}
#main-rigth{
    margin-top: 50px;
    margin-left: 60px;
}
#main-rigth1{
    margin-top: 100px;
    margin-left: -92px;
    }
#main-rigth2{
    margin-top: 100px;
    margin-left: -100px;
    }
#main-rigth3{
        margin-top: 50px;
        margin-left: 20px;
        }
#main-rigth4{
        margin-top: 10px;
        margin-left: 20px;
        }
.thumbnail{
    border:none;
}
#awsl {
    margin-top: 60px;
}
#songwu {
    margin-right: 30px;
}