@{
    Layout = "";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="~/css/bootstarpcss/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstarpcss/indexCSS.css" />
    <title>主页</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="margin-top: 10%;">
                <div class="col-xs-1"></div>
                <div class="col-xs-4">
                    <a asp-action="Index" asp-controller="Entertainments">
                        <div class="thumbnail" style="text-align: center">
                            <img src="/Images/yvle.png" alt="...">
                            <h4>娱乐</h4>
                        </div>
                     </a>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-4">
                    <a asp-action="Index" asp-controller="Foods">
                        <div class="thumbnail" style="text-align: center">
                            <img src="~/Images/dianc.png" alt="...">
                            <h4>点餐</h4>
                        </div>
                        </a>
                </div>
                <div class="col-xs-1"></div>
            </div>
            <div class="col-xs-12" style="margin-top: 10px;">
                <div class="col-xs-1"></div>
                <div class="col-xs-4">
                    <a asp-action="Index" asp-controller="Laundry">
                        <div class="thumbnail" style="text-align: center">
                            <img src="~/Images/baojie.png" alt="...">
                            <h4>保洁</h4>
                        </div>
                    </a>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-4">
                    <a asp-action="Index" asp-controller="">
                        <div class="thumbnail" style="text-align: center">
                            <img src="~/Images/xutui.png" alt="...">
                            <h4>续退</h4>
                        </div>
                    </a>
                </div>
                <div class="col-xs-1"></div>
            </div>
            <div class="col-xs-12" style="margin-top: 10px;">
                <div class="col-xs-1"></div>
                <div class="col-xs-4">
                    <a asp-action="Index" asp-controller="Commodities">
                        <div class="thumbnail" style="text-align: center">
                            <img src="~/Images/zhoubian.png" alt="...">
                            <h4>周边</h4>
                        </div>
                    </a>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-4">
                    <a asp-action="Index" asp-controller="Scenics">
                        <div class="thumbnail" style="text-align: center">
                            <img src="~/Images/fengjing.png" alt="...">
                            <h4>风景</h4>
                        </div>
                        </a>
                </div>
                <div class="col-xs-1"></div>
            </div>
            <div class="col-xs-12" style="margin-top: 10px;">
                <div class="col-xs-1"></div>
                <div class="col-xs-4">
                    <a asp-action="Index" asp-controller="Goods">
                        <div class="thumbnail" style="text-align: center">
                            <img src="~/Images/songwu.png" alt="...">
                            <h4>送物</h4>
                        </div>
                    </a>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-4">
                    <a asp-action="Index" asp-controller="GoodsGR">
                        <div class="thumbnail" style="text-align: center">
                            <img src="~/Images/fengjing.png" alt="...">
                            <h4>个人</h4>
                        </div>
                    </a>
                </div>
                <div class="col-xs-1"></div>
            </div>
        </div>
    </div>    
    <script src="~/css/bootstarpcss/jquery-1.12.4.js"></script>
    <script src="~/css/bootstarpcss/bootstrap.min.js"></script>
</body>

